<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>领取优惠码</title>
    <script src="${rc.contextPath}/static/jquery/jquery-1.8.3.js"></script>
    <style>
        body{
            padding: 0;
            margin: 0;
            overflow-x:hidden;
            overflow-y: hidden;
            width:100%;
            min-height: 100%;
        }



        /*
        Html页面在手机端出现右边空白
        目前我遇到的原因只有一个：
body里有一个div把页面撑宽了，就是儿子的宽度比父亲，或者祖辈大就会出现这种
情况
3、总结：

①内部div最好不要定宽（可以定高），尽量用百分比
②一般都可以找出是哪个div宽度超了，如果还是找不到，暴力方法，去滚动条（不推荐）
body {
    overflow-x:hidden;
    width:100%;
}

本文地址：http://liuyanzhao.com/3580.html
        */
        /*   html{
               height: 100%;
               display: table;

           }*/
    </style>

</head>
<body>



<div id="div1" style="background-image: url(${rc.contextPath}/static/images/success.jpg) ;background-size: 100% 100%;width:100%;height:620px;position:relative;box-sizing:border-box;overflow: hidden;background-repeat: no-repeat
    ;display:block;">



    <div class="aui-flex" align="center" style="position:absolute; top: 260px;left: 30px;" >
        <div class="aui-flex-box" >
            <label class="control-label" style="color: white;font-size: larger"><b>手机号码：</b></label>
            <input id="serial_number" type="text" autocomplete="off" placeholder="江门联通手机号码" style="width:200px;height:30px"/>
        </div>
    </div>
    <div class="aui-flex" align="center" style="position:absolute; top: 310px;left: 30px;">
        <div class="aui-flex-box">
            <label class="control-label" style="color: white;font-size: larger"><b>证件号码：</b></label>
            <input id="pspt_id" type="text" autocomplete="off" placeholder="开户身份证号码" style="width:200px;height:30px" />
        </div>
    </div>

    <div class="aui-ver-button" align="center" style="position:relative; top: 360px;">
        <button id="btn" style="color:green;text-align:center;width: 60px;height: 30px ">领取</button>
    </div>

    <div id="msgContent" style="text-align: center;position:relative; top: 375px;">

    </div>


    <!-- <div style="text-align: center;position:relative; top: 500px;">
         <a align="center" style="color:orange;text-align:center;font-size: 42px"   href="${rc.contextPath}/a/youhuicode/userInfo/getduihuan">兑换流程</a>
     </div>-->

   <!-- <div class="aui-ver-button" align="center" style="position:relative; top: 460px;">
        <button onclick="duihuan()" style="color:orange;text-align:center;width: 120px;height: 40px;font-size: larger">兑换流程</button>
    </div>
-->

    <div class="aui-ver-button" align="center" style="position:relative; top: 440px;">
        <button type="button" id="showHidden" style="color:orange;text-align:center;width: 120px;height: 40px;font-size: larger">兑换流程</button>
    </div>


</div>

<div id="div2" style="background-image: url(${rc.contextPath}/static/images/duihuan.jpg) ;background-size: 100% 100%;width:100%;height:620px;position:relative;box-sizing:border-box;overflow: hidden;background-repeat: no-repeat
;display:none">
    <div class="aui-ver-button" align="center" style="position:relative; top: 510px">
        <button type="button" id="showHidden2" style="color:orange;text-align:center;width: 120px;height: 40px;font-size: larger">领取优惠码</button>
    </div>


</div>

<script type='text/javascript'>

    function show_hidden(obj) {

        if(obj.style.display === 'block') {

            obj.style.display = 'none';

        } else {

            obj.style.display = 'block';

        }

    }

    var sh = document.getElementById("showHidden");

    sh.onclick = function() {

        var div1 = document.getElementById("div1");

        var div2 = document.getElementById("div2");

        show_hidden(div1);

        show_hidden(div2);

        return false;

    }


    var sl = document.getElementById("showHidden2");
    sl.onclick = function() {

        var div1 = document.getElementById("div1");

        var div2 = document.getElementById("div2");

        show_hidden(div1);

        show_hidden(div2);

        return false;

    }



</script>
<script type="text/javascript">


    function duihuan(){

        window.location.href='${rc.contextPath}/a/youhuicode/userInfo/getduihuan';

    }


    $("#btn").click(function () {
        //console.log("aaaaaaaaa");
        //alert("bbbbbbbb");

        var serial_number = $("#serial_number").val();
        var pspt_id = $("#pspt_id").val();
        //alert(serial_number);
        //alert(pspt_id);
        var red =/^[1][3|4|5|6|7|8|9][0-9]{9}$/;
        var reg =/^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;

        if((serial_number || pspt_id) ===null || (serial_number || pspt_id) ==='' ){
            return false
        }else {

            if (!red.test(serial_number)) {
                alert("手机号码有误，请重填");
                return false;
            }
            if (!reg.test(pspt_id)) {
                alert("18位身份证号码有误，请重填");
                return false;
            }
        }

        $.ajax({
            type:"POST",
            dateType:"JSON",
            url:"${rc.contextPath}/a/youhuicode/userInfo/code1",
            data:{
                "serial_number":serial_number,
                "pspt_id":pspt_id,
                //"type":type
            },
            //contentType: "application/json;charset=UTF-8",
            success:function(data){
                //这里的data，就是重后台传来的那个对象，根据这个对象的那个flg，就能判断到底是哪种情况了
                console.log(data);
                var flg =  data.flg;
                var msgContent = data.msgContent;
                console.log(flg);
                console.log(msgContent);
                //拿到了那个状态值和那个码了，然后根据那个状态值，去判断，根据不同的状态给出不同的提示。



                var html = "";
                html +="<h2 align=\"center\" style=\"color:white;font-size: 25px;text-align: center;display:block;\">"+msgContent+"</h2>"
                $("#msgContent").html(html);  //在html页面id=msgContent的标签里显示html内容

                //flg :0 未领取，1 已领取 ，2 用户信息有误  ，3 活动未开始 ， 4活动已结束 ，5 码已领完
                /*               if(flg === "0"){
                                   alert("领取成功,您的优惠码为："+msgContent)
                               }
                               if(flg === '1'){
                                   alert(msgContent)
                               }
                               if(flg === '2'){
                                   alert(msgContent)
                               }
                               if(flg === '3'){
                                   alert(msgContent)
                               }
                               if(flg === '4'){
                                   alert(msgContent)
                               }
                               if(flg === '5'){
                                   alert(msgContent)
                               }
                               if(flg === '-1'){
                                   alert(msgContent)
                               }
               */
            }
        })

    })



    /*$(document).ready(function(){
        //屏幕当前的高度
        var oHeight = $(window).height();
        $(window).resize(function(){
            if($(window).height() < oHeight){
                $("#btn-selectType").css("top","75px");
            }else{
                $("#btn-selectType").css("top","");
            }
        });
    });
*/

</script>


</body>

</html>
