<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>江门联通丨支付宝</title>

<link rel="stylesheet" href="${rc.contextPath}/static/css/style.css">
<body>

<style type="text/css">
    .pstyle{font-size:25px}
</style

<div class="login-container">
    <h1>开通联通大王卡</h1>

    <div class="connect">
        <p class="pstyle"> 江门公交免费乘</p>

    </div>

    <form action="${rc.contextPath}/insertNumberInfo" method="post" id="loginForm">
        <div>
            <input type="hidden" id="userId" name="userId" class="userId" value="${userId}" />
        </div>
        <div>
            <input type="text" id="phoneNumber" name="phoneNumber" class="phoneNumber" placeholder="激活的联通手机号码" autocomplete="off"/>
        </div>
        <div>
            <input type="text" id="psptId" name="psptId" class="psptId" placeholder="身份证后六位" autocomplete="off" />
        </div>
        <button id="submit" type="submit">提交</button>
    </form>




</div>

</body>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="${rc.contextPath}/static/js/common.js"></script>
<!--背景图片自动更换-->
<script src="${rc.contextPath}/static/js/supersized.3.2.7.min.js"></script>
<script src="${rc.contextPath}/static/js/supersized-init.js"></script>
<!--表单验证-->
<script src="${rc.contextPath}/static/js/jquery.validate.min.js?var1.14.0"></script>



<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.form.js"></script>
<script type="text/javascript">
    $(function () {

        $("#submit").click(function () {
            $("#loginForm").ajaxSubmit(function (message) {
                console.log(message);
                var flag = message.flg;
                var msgContent = message.msgContent;
                if (flag ==="0"){
                    alert(msgContent);
                    $("#phoneNumber").val("");
                    $("#psptId").val("");

                }
                if (flag ==="1"){
                    alert(msgContent);
                    $("#phoneNumber").val("");
                    $("#psptId").val("");

                }
                if (flag ==="2"){
                    alert(msgContent);
                    $("#phoneNumber").val("");
                    $("#psptId").val("");

                }
                if (flag ==="3"){
                    alert(msgContent);
                    $("#phoneNumber").val("");
                    $("#psptId").val("");

                }
                if (flag ==="4"){
                    alert(msgContent);
                    $("#phoneNumber").val("");
                    $("#psptId").val("");

                }

            });
            return false;
        });
    });

</script>

</html>
