<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>下单</title>
    <script src="${rc.contextPath}/static/jquery/jquery-1.8.3.js"></script>
    <style>
        body{
            padding: 0;
            margin: 0;
            overflow-x:hidden;
            overflow-y: hidden;
            width:100%;
            min-height: 100%;
        }

    </style>

</head>
<body>





<div style="position: relative">
    <input id="userId" type="hidden" value="${userId}">
    <div class="control-group">
        <div class="aui-flex-box" style="position: absolute ;top:50px" >
            <label class="control-label" style="color: white;font-size: larger"><b>手机号码：</b></label>
            <input id="phoneNumber" type="text" autocomplete="off" placeholder="112211激活的联通手机号码" />
        </div>
    </div>

    <div class="control-group">
    <div class="aui-flex-box" style="position: absolute;top:100px">
            <label class="control-label" style="color: white;font-size: larger"><b>证件号码：</b></label>
            <input id="psptId" type="text" autocomplete="off" placeholder="开户身份证号码"  />
        </div>
    </div>

    <div class="control-group">
    <div class="aui-ver-button" style="position:absolute;top: 120px ">
        <button id="btn" style="color:green;text-align:center;width: 60px;height: 30px ">提交</button>
    </div>
    </div>


<div style="position: absolute;top: 200px">${userId}</div>

</div>


<script type="text/javascript">

    $("#btn").click(function () {
        var phoneNumber = $("#phoneNumber").val();
        var psptId = $("#psptId").val();
        var userId = $("#userId").val();

        var red =/^[1][3|4|5|6|7|8|9][0-9]{9}$/;
        var reg =/^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;

        if((phoneNumber || psptId) ===null || (phoneNumber || psptId) ==='' ){
            return false
        }else {

            if (!red.test(phoneNumber)) {
                alert("手机号码有误，请重填");
                return false;
            }
            if (!reg.test(psptId)) {
                alert("18位身份证号码有误，请重填");
                return false;
            }
        }

        $.ajax({
            type:"POST",
            dateType:"JSON",
            url:"${rc.contextPath}/insertNumberInfo",
            data:{
                "userId":userId,
                "phoneNumber":phoneNumber,
                "psptId":psptId,
                //"type":type
            },
            //contentType: "application/json;charset=UTF-8",
            success:function(data){
                //这里的data，就是重后台传来的那个对象，根据这个对象的那个flg，就能判断到底是哪种情况了
                console.log(data);
                var flg =  data.flg;
                var msgContent = data.msgContent;
                console.log(flg);
                console.log(msgContent);
                //拿到了那个状态值和那个码了，然后根据那个状态值，去判断，根据不同的状态给出不同的提示。





                //flg :0 未领取，1 已领取 ，2 用户信息有误  ，3 活动未开始 ， 4活动已结束 ，5 码已领完
                /*               if(flg === "0"){
                                   alert("领取成功,您的优惠码为："+msgContent)
                               }
                               if(flg === '1'){
                                   alert(msgContent)
                               }
                               if(flg === '2'){
                                   alert(msgContent)
                               }
                               if(flg === '3'){
                                   alert(msgContent)
                               }
                               if(flg === '4'){
                                   alert(msgContent)
                               }
                               if(flg === '5'){
                                   alert(msgContent)
                               }
                               if(flg === '-1'){
                                   alert(msgContent)
                               }
               */
            }
        })

    })




</script>


</body>

</html>
